---
layout: default
---

{% assign index = site.data[site.active_lang].index %}
{% assign l10n = site.data[site.active_lang].l10n %}

<div class="yellow-section yellow-gradient min-h-screen p-5 flex items-center justify-end">
    <div class="flex flex-col gap-4 text-right p-5">
        <h1 class="font-bold text-9xl">{{ l10n.title }}</h1>
        <h2 class="font-bold text-4xl">{{ l10n.subtitle }}</h2>

        <div class="">
            {{ l10n.event }}
        </div>
    </div>
</div>

<div class="blue-section blue-gradient min-h-screen p-10 py-20 flex justify-center">
    <article class="max-w-6xl">
        <h2 class="font-bold text-4xl text-center">{{ index.call_title }}</h2>
        <div class="text-xl text-justify py-10 px-6 leading-8">
            {{ index.call | markdownify | newline_to_br }}
        </div>
    </article>
</div>

<div class="blue-section flex justify-center">
    <ul>
        {% include waypoint.html name="Steintor" alias="Start" time="13:00" %}
        {% include waypoint.html name="Mönkebergstraße" alias="Zwischenkundgebung" time="14:30" %}
        {% include waypoint.html name="Reesedammbrücke" alias="Ende" time="16:00" %}
    </ul>
</div>
