<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% I18n_Headers %}

        <title>{{ site.data[site.active_lang].l10n.title }}</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            html, body, main {
                height: 100%;
                margin: 0;
                direction: {{ site.data[site.active_lang].l10n.direction }}
            }

            .yellow-section {
                color: black;
                background-color: yellow;
            }

            .purple-section {
                color: rosybrown;
                background-color: purple;
            }
        </style>
    </head>
    <body>
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </body>
</html>